/* base */
.btn {
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  max-width: 400px;
  min-height: 40px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
  padding: 8px;
}
.btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.btn:active {
  transform: scale(95%);
}

/* btn-deshabilitado */
.btn:disabled {
  /* background-color: var(--background-btn-secondary);
  color: var(--color-btn-secondary); */
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
/* -----Tamaños----- */
/* alturas */
.form {
  height: 48px;
}

.section {
  height: 40px;
}

/* anchos */
.full {
  width: 100%;
}

.half {
  width: 50%; /* 8px es el margen entre botones */
}

/* variantes */
.primary {
  color: var(--color-blanco);
}

.secondary {
  background-color: var(--background-btn-secondary);
  color: var(--color-btn-secondary);
  border-bottom: 0.5px solid var(--border-bottom-btn-secondary);
  margin-right: 8px;
}

/* estilos para variante para Google */
.google {
  background-color: white;
  color: var(--color-btn-secondary);
  border: 2px solid #dadce0;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.google:hover {
  background-color: #fafafa;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

/* colores por sección (common: púrpura - buyer: azul - seller: naranja*/
.common.primary {
  background-color: var(--primary-common);
}

.buyer.primary {
  background-color: var(--primary-buyer);
}

.seller.primary {
  background-color: var(--primary-seller);
}

/* Estilos si el btn tiene icono + texto */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* Estilo común para iconos */
.iconWrapper {
  display: flex;
  align-items: center;
}

/* Estilos específicos basados en posición */
.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

/* para PC */
.btn.full {
  max-width: 400px;
  margin: 0 auto;
}
